@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  background-color: #1c1d24; /*F2F2F2*/
}

textarea {
  float: left;
  padding: 25px 25px 40px;
  margin: 0px;
  width: 250px;
  height: 250px;
  font: 18px "Gloria Hallelujah", cursive;
  line-height: 1.5;
  border: 0;
  border-radius: 0px 0px 4px 4px; /* top-left, top-right, bottom-left, bottom-right */
  background: linear-gradient(#f9efaf, #f7e98d);
  /*
  dark_purple: 9416AD,
  purple: BD87C7,
  dark_pink: F84097, 
  pink: EA94BA,
  dark_blue: 3F9BDE,
  blue: F84097,
  dark_yellow: FDCB15,
  yellow: 3F9BDE,
  green: FDCB15,
  dark_green: 92D050,
  turquoise: 68C7C0,
  dark_turquoise: 10A98B,
  */

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.5s ease;
  resize: both;
  overflow: auto;
}

textarea:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

textarea:focus {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  outline: none;
}

.sticky_note {
  position: absolute;
  z-index: 9;
  text-align: center;
}

.sticky_note_header {
  height: 30px;
  cursor: move;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 10px;
}

ul {
  list-style-type: none;
}

/* edit and delete button */

.btn {
  box-shadow: none;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn-edit {
  font-size: 15px;
  border: none;
  color: #1c7fff;
  padding: 0px;
  margin: 5px 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.btn-del {
  font-size: 15px;
  border: none;
  color: #fd1f1f;
  padding: 0px;
  margin: 5px 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.action {
  position: absolute;
  left: 5px;
  bottom: 5px;
  text-align: right;
  padding: 0 5px;
  transition: all 0.4s;
}
.colors {
  display: flex;
  width: 100%;
  height: 0px;
  padding: 0px;
  background-color: #fff;
  flex-wrap: wrap;
  transition: height 0.3s;
}
.colors.act {
  height: 30px;
  padding: 5px 0;
  box-shadow: 0px 0px 10px 5px #0c0f411a;
}
.colors div {
  display: block;
  flex: 1;
  height: 100%;
  margin: 0 5px;
  cursor: pointer;
}
.colors div:first-child,
.note.note-yellow {
  background-color: #f1e000;
}
.colors div:nth-child(2),
.note.note-green {
  background-color: #63d816;
}
.colors div:nth-child(3),
.note.note-levendor {
  background-color: #bb38f5;
}
.colors div:last-child,
.note.note-orange {
  background-color: #f18e00;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: None;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1d24;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c1d24;
}
